.sm-card:hover {
  border: none;
  transform: scale(1.01);
}

.sm-main-prod-container .sm-card {
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
.sm-card .sm-card-img {
  padding: 1.4rem 0;
  background: var(--COLOR-BLACK);
  border-radius: 10px;
  border-bottom: none;
}

.sm-card .sm-card-img {
  border-bottom: none;
}
.sm-card .sm-badge {
  border-radius: 10px 0px;
}

.sm-card-img img {
  border-radius: 10px;
}

.sm-card-img .sm-card-badge {
  border-radius: 10px 0;
}

.sm-card-fav:hover {
  border: 0;
}
.sm-card-flex-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
}
.sm-card-flex-rating .sm-card-rating {
  margin-left: 0;
  color: var(--COLOR-HEADER-FONT-DARK);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.sm-card-info .sm-card-info-price {
  font-weight: 800;
  gap: 10px;
  grid-gap: 10px;
}

.sm-card-info .sm-card-info-price-save {
  padding: 3px;
}

.sm-card .sm-card-content {
  padding: 5px;
}

.sm-card {
  cursor: default;
}

.sm-card .sm-card-content .sm-card-info {
  padding: 0;
  gap: 3px;
}

.sm-card-fav-watch {
  border: 0;
  color: var(--COLOR-PRIMARY);
  position: absolute;
  border-radius: 50%;
  bottom: -1px;
  right: 4.5rem;
  font-size: 2.8rem;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  background: none;
}

.sm-card-fav-watch i {
  min-width: 1em;
  min-height: 1em;
  display: grid;
  place-content: center;
}

.sm-card-fav-watch:hover {
  border: 0;
}

.sm-card-fav-watch:active {
  transform: scale(0.9);
}

.sm-card-fav-delete {
  border: 0;
  color: var(--COLOR-PRIMARY);
  position: absolute;
  top: -1px;
  right: 1px;
  font-size: 2.6rem;
  width: fit-content;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  background: none;
}

.sm-card-fav-delete i {
  min-width: 1em;
  min-height: 1em;
  display: grid;
  place-content: center;
}

.sm-card-fav-delete:hover {
  border: 0;
}

.sm-card-fav-delete:active {
  transform: scale(0.9);
}

.sm-card-bage-like-btn {
  border: 0;
  color: var(--COLOR-PRIMARY);
  position: absolute;
  border-radius: 50%;
  bottom: -1px;
  right: 1px;
  font-size: 2.8rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  background: none;
}

.sm-card-bage-like-btn i {
  min-width: 1em;
  min-height: 1em;
  display: grid;
  place-content: center;
}

.sm-card-bage-like-btn:hover {
  border: 0;
}

.sm-card-bage-like-btn:active {
  transform: scale(0.9);
}

.sm-link-new-check {
  width: 100%;
}

.sm-card-rating-dot {
  height: 3px;
  width: 3px;
  background-color: var(--COLOR-HEADER-FONT-DARK);
  border-radius: 50%;
  display: inline-block;
}

.sm-card-bage-time {
  border: 0;
  color: var(--COLOR-PRIMARY);
  position: absolute;
  bottom: 6px;
  left: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: default;
  background: var(--COLOR-CODE-BG);
}

.sm-card-badge-playlist-btn {
  border: 0;
  color: var(--COLOR-PRIMARY);
  position: absolute;
  border-radius: 50%;
  bottom: 2.5px;
  right: 9.5rem;
  font-size: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  background: none;
}

.sm-card-badge-playlist-btn i {
  min-width: 1em;
  min-height: 1em;
  display: grid;
  place-content: center;
}

.sm-card-badge-playlist-btn:hover {
  border: 0;
}

.sm-card-badge-playlist-btn:active {
  transform: scale(0.9);
}
