.sm-main-video-page {
  grid-area: main;
  display: flex;
  min-width: 100%;
  overflow: auto;
}

.sm-video-container {
  flex-grow: 1;
  padding: 2rem;
  height: fit-content;
}

.sm-video-container-main {
  border-bottom: 1px solid var(--COLOR-HEADER-FONT-DARK);
}
.sm-smash-player-cta-info {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.sm-smash-player-cta {
  margin-left: auto;
}

.sm-smash-player-cta .sm-icon-btn {
  padding: 5px;
  margin: 0 5px;
}

.sm-smash-player-cta .sm-icon-btn .icon-video {
  padding: 0;
}

.icon-video {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.icon-video .fas {
  font-size: inherit;
}

.sm-smash-player-title {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 700;
  /* color: var(--COLOR-HEADER-FONT-DARK); */
  cursor: default;
  padding: 1rem 0;
}
.sm-smash-player-info {
  display: flex;
  align-items: center;
  color: var(--COLOR-HEADER-FONT-DARK);
  cursor: default;
}
.sm-smash-player-info-dot {
  height: 3px;
  width: 3px;
  background-color: var(--COLOR-HEADER-FONT-DARK);
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

.sm-video-side-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sm-video-side-featured-heading {
  margin-top: 1rem;
  text-align: center;
}

.sm-video-container-main-desc {
  padding: 2rem;
  font-size: 2rem;
  margin-left: 6rem;
  text-align: start;
}
.sm-video-side-wrapper .sm-card {
  width: 30rem;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px hsl(0deg 0% 0% / 14%),
    0px 1px 10px 0px hsl(0deg 0% 0% / 12%),
    0px 2px 4px -1px hsl(0deg 0% 0% / 20%);
}

.sm-smash-player-channel-avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  color: var(--COLOR-HEADER-FONT-DARK);
}
.sm-smash-player-channel-name {
  display: flex;
  flex-direction: column;
}
/* MEDIA QUERIES */

/* @media only screen and (max-width: 2560px) {
  .sm-player-iframe {
    width: 100%;
    height: 70vh;
  }
} */

@media only screen and (max-width: 1024px) {
  .sm-main-video-page {
    grid-area: main;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    overflow: auto;
  }

  .sm-video-side-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .sm-video-side-wrapper .sm-card {
    width: 24rem;
  }
}

@media only screen and (max-width: 540px) {
  .sm-smash-player-cta-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sm-smash-player-cta {
    margin-left: 0;
  }
  .sm-video-container-main-desc {
    display: none;
  }
  .sm-smash-player-title {
    justify-content: center;
    text-align: center;
  }

  .icon-video {
    display: flex;
    flex-direction: column;
  }
  .sm-video-side-wrapper .sm-card {
    width: 24rem;
  }
  .sm-smash-player-channel-avatar {
    display: none;
  }
}

/* @media only screen and (max-width: 480px) {
} */
